body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.8rem;
}
.subhead {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}
.rubric {
    color: red;
    font-style: italic;
}
.column {
    float: left;
}
.left {
    width: 50%;
}
.right {
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
button {
    font-size: 1.5rem;
    font-weight: bold;
    width:100%;
}
html {
  font-size: 150%;
}
p, h1, h2, div {
  white-space: normal;
  overflow-wrap: break-word;
}