body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
#text-container {
    display: none;
}
.subhead {
    font-size: 16px;
    font-weight: bold;
    color: red;
}
.rubric {
    color: red;
    font-style: italic;
}
.column {
    float: left;
}
.left {
    width: 50%;
}
.right {
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
button {
    font-size: 20px;
    font-weight: bold;
    width:100%;
}